.category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 0 2rem 0;
}
.category h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
}
.category_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.filter_container {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: red;
  min-height: 90vh;
  position: sticky;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.filter_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown_icon {
  margin-left: 10px;
}

.filter_list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.filter_list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdown_item {
  position: relative;
}

.dropdown_content {
  display: none;
  list-style-type: none;
  padding-left: 20px;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: white;
  width: max-content;
}

.dropdown_item:hover .dropdown_content {
  display: block;
}

.category_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.category_item {
  width: 250px;
  border-radius: 16px;
  box-shadow: 4px 4px 10px #333;
  background-color: #1b5c29;
}
.category_item img {
  border-radius: 16px 16px 0 0;
  height: 220px;
  object-fit: cover;
}
.category_item .category_content {
  width: 100%;
  color: #fff;
  padding: 10px;
}
.category_item .category_content span {
  font-size: 0.8rem;
  color: #aaa;
}
.category_item .category_content h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.category_item .category_content .category_content_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category_item .category_content .category_content_info p {
  font-size: 1rem;
  color: goldenrod;
  font-weight: bold;
}
.category_item .category_content .category_content_info button {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.category_item .category_content .category_content_info button:hover {
  scale: 1.05;
  background-color: #222;
}
.category_loading {
  font-size: 1.5rem;
  color: goldenrod;
  font-weight: bold;
}
@media screen and (max-width: 789px) {
  .category {
    margin: 8rem 0 2rem 0;
  }
}
