.register_conatiner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_register {
  width: 50%;
  height: 100%;
}
.image_register img {
  width: 100%;
  height: 100%;
}
.register_form {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register_form .form_register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #333;
  padding: 2rem;
  border-radius: 16px;
  width: 500px;
  height: 400px;
  box-shadow: 4px 2px 5px #434343;
}
.register_form .form_register h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
.register_form .form_register input {
  padding: 15px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 16px;
}
.register_form .form_register .submit_btn {
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 3px 2px 4px #999;
  transition: all 0.2s ease;
}
.register_form .form_register .submit_btn:active {
  transform: translateY(5px);
  background-color: #ddd;
}
.register_form .form_register .submit_btn:hover {
  background-color: #aaa;
  transform: translateY(1px);
}
.loginWay {
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.1rem;
}
.loginWay:hover {
  color: #999;
  transform: translateY(2px);
}
@media screen and (max-width: 789px) {
  .register_conatiner {
    flex-direction: column;
  }
  .image_register {
    width: 100%;
  }
  .image_register img {
    height: 100vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
  }
  .register_form {
    width: 100%;
    position: absolute;
    top: 0;
  }
}
@media screen and (max-width: 489px) {
  .register_form .form_register {
    width: 350px;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form_register .code_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.form_register .code_inputs input {
  width: 100%;
  border-radius: 5px;
  height: 60px;
}
@media screen and (max-width: 789px) {
  .form_register .code_inputs {
    gap: 10px;
  }
  .form_register .code_inputs input {
    width: 100%;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
