.transport {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.transport h2 {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.transport_container {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #eee;
  margin-bottom: 1rem;
}
@media screen and (max-width: 789px) {
  .transport {
    margin-top: 9rem;
  }
  .transport h2 {
    font-size: 2rem;
  }
}
